/* import font family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* css reset */

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* alert bar  */
.custom-alert {
    border: 0;
    border-radius: 99px;
    margin-top: 10px;
    background-color: #5e5df0;
    color: white;
}
